:root {
  --color-text-primary: #ECECEC;
  --color-text-secondary: #838383;

  --color-accent-primary: #B18C68;
  --color-accent-secondary: #887B64;

  --color-button-text-primary: #6A5A4F;
  --color-button-text-secondary: #9D856E;
  --color-button-background-primary: linear-gradient(to right, #B18C68 0%, #DAAF8F 50%, #B18C68 100%);
  --color-button-background-secondary: transparent;


  --color-background-primary: #252525;
  --color-background-secondary: #2C2C2C;

  --color-border-primary: #3E3E3E;
  --color-border-secondary: #B18C68;

  --border-radius-primary: 16px;

  --section-margin-block-end: 11.75vi;

  --font-primary: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  --font-secondary: 'Inter', 'Arial', 'Helvetica', sans-serif;

  --font-size: 1rem;


  @media (width < 576px) {
    --section-margin-block-end: 100px;
  }
}