@use '_variables.scss';
@use '_base.scss';



.container {
  box-sizing: content-box;
  max-width: 1564px;
  margin-inline: auto;
  padding-inline: clamp(16px, -30px + 11.5vi, 180px);

  &--wide {
    max-width: 1780px;
    padding-inline: clamp(16px, -20px + 5vi, 70px);
  }
}
